.verifycodepart  {
    display :flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.timer h4{
    gap: 4px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--Color-Primary-Primary, rgba(60, 151, 175, 1));
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.timer p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(175, 177, 182, 1);
}
.timer p a{
    color: var(--Color-Primary-Primary, rgba(60, 151, 175, 1));
    text-decoration: none;
}
.otp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.otp-input {
    margin-top: 20px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 8px;
    border: 1px solid #666;
    font-size: 18px;
    text-align: center;
    color: #2196f3;
    outline: none;
    transition: border-color 0.3s;
}

.otp-input:focus {
    background: var(--Colors-Primary-50, rgba(236, 246, 249, 1));
    border-color: #2196f3;
    color: #2196f3;
}

.otp-input::placeholder {
    color: #aaa;
}

@media screen and (max-width: 400px){
    .otp-input {
        width: 30px !important;
        height: 30px !important;
    }
    .otp-container {
        gap: 6px;
    }
}