.leftside{
    background: #3C97AF;
    width: 700px;
    height: 598px;
    border-radius: 20px ;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.leftside h1{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 30px;
}
.leftside p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding: 0 14px;
}
.photo{
    position: relative;
}
img.line1{
    position: absolute;
    bottom: -370px;
    left: 0;
    width: 100%;
}
img.line2{
    position: absolute;
    bottom: -380px;
    left: 0;
    width: 100%;
}
@media screen and (max-width:1119px){
    .leftside h1{
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 50px;
    }
    .leftside p{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:945px){
    .leftside {
      display: none;
    }
}





