.FlexScreen{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
@media screen and (max-width:945px){
    .FlexScreen{
        display: flex;
        align-items: start;
        justify-content:center;
        gap: 0px;
    }
}