.optionInfoPage {
    margin-top: 10px;
display: flex;
flex-direction: column;
align-items: start;
position: relative;
}
.optionInfoPage input{
    border: none;
    border: 1px solid var(--Color-Border-Neutral, rgba(235, 235, 235, 1));
    width:  calc(100% - 10px);
    height:  44px;
    padding: 0px 0px 0px 10px;
    border-radius: 8px ;
    margin-bottom: 10px;
}
.optionInfoPage p{
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
}
.optionInfoPage button{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 204px;
    right: 10px;
}

.information .active{
    border: 1px solid var(--Color-Primary-Primary, rgba(60, 151, 175, 1));

}
.information .btn{
    width: 100%;
    margin-top: -70px;
}