.FormtocreateProject{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FormtocreateProject .insertForm{
   
    position: absolute;
    width: 40%;
    height: 90%;
    border-radius: 10px;
    background: var(--Color-Background-Primary, rgba(248, 251, 252, 1));
    box-shadow: 1px 2px 8px 0px rgba(33, 134, 142, 0.25);
    padding: 10px;
    left: 360px;
    top: 30px;
}
.FormtocreateProject .insertForm .title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.FormtocreateProject .insertForm .title h1{
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.65px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.FormtocreateProject .insertForm .title button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FormtocreateProject .insertForm .title button img{
    width: 40px;
}
.FormtocreateProject .insertForm .headerOfofrm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
}
.FormtocreateProject .insertForm .headerOfofrm .one , .FormtocreateProject .insertForm .headerOfofrm .tow{
    width: 100%;
    height: 6px ;
    background-color: var(--Color-Border-Neutral, rgba(191, 191, 191, 1)) ;
    border-radius: 16px;
}
.FormtocreateProject .insertForm .headerOfofrm .tow{
    background-color: var(--Color-Border-Primary, rgba(60, 151, 175, 1));
}
.FormtocreateProject .insertForm .firstinsertForm{
    margin-top: 40px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.FormtocreateProject .insertForm .firstinsertForm p{
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-bottom: 10px;
}
.FormtocreateProject .insertForm .firstinsertForm select{
    
    color: rgba(217, 217, 217, 1);
    border: none;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid var(--Color-Border-Neutral, rgba(191, 191, 191, 1));
}
.FormtocreateProject .insertForm .firstinsertForm select:focus{
    border: 1px solid var(--Color-Border-Primary, rgba(60, 151, 175, 1));
    color: var(--Color-Border-Primary, rgba(60, 151, 175, 1));
}